/**
 * notus v0.1.0
 *
 * Author: Kushal Pandya <kushalspandya@gmail.com> (https://doublslash.com)
 * Date: 12 February, 2016
 *
 * Main Notus Stylesheet.
 */

/*---------------- Supported Animations ----------------*/

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
    }
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
    }
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-100%);
    }
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(100%);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
}

/*---------------- Container Styles ----------------*/

.notus-container {
    position: fixed;
    pointer-events: none;
    z-index: 9999999;
}

.notus-container.notus-position-tr,
.notus-container.notus-position-tl,
.notus-container.notus-position-top {
    top: 0;
}

.notus-container.notus-position-br,
.notus-container.notus-position-tr {
    right: 0;
}

.notus-container.notus-position-bl,
.notus-container.notus-position-tl {
    left: 0;
}

.notus-container.notus-position-br,
.notus-container.notus-position-bl,
.notus-container.notus-position-bottom {
    bottom: 0;
}

.notus-container.notus-position-top,
.notus-container.notus-position-bottom {
    display: block;
    left: 0;
    right: 0;
    margin: auto;
}

.notus-container.notus-container-snackbar {
    width: 100%;
}

.notus-container.notus-position-bl .notus,
.notus-container.notus-position-tl .notus {
    margin-left: 10px;
}

.notus-container.notus-position-br .notus,
.notus-container.notus-position-tr .notus {
    margin-right: 10px;
}

.notus-position-top .notus,
.notus-position-bottom .notus {
    width: 200px;
}

.notus-position-top .notus.notus-type-snackbar,
.notus-position-bottom .notus.notus-type-snackbar {
    width: 60%;
    margin: 0 auto;
}

/*---------------- Built-in Animation Config ----------------*/

/* Common Animation Config */
.notus-type-popup.notus-slide,
.notus-type-toast.notus-slide,
.notus-type-snackbar.notus-slide {
    animation-duration:  .2s;
    animation-timing-function: ease-in-out;
}

/* Slide-in for Popup */
.notus-position-tr .notus-type-popup.notus-slide,
.notus-position-br .notus-type-popup.notus-slide {
    animation-name: slide-in-right;
}

.notus-position-tl .notus-type-popup.notus-slide,
.notus-position-bl .notus-type-popup.notus-slide {
    animation-name: slide-in-left;
}

/* Slide-in for Toast / Snackbar */
.notus-position-top .notus-type-toast.notus-slide,
.notus-position-top .notus-type-snackbar.notus-slide {
    animation-name: slide-in-top;
}

.notus-position-bottom .notus-type-toast.notus-slide,
.notus-position-bottom .notus-type-snackbar.notus-slide {
    animation-name: slide-in-bottom;
}

/* Fade-in for Popup / Toast / Snackbar */
.notus-type-popup.notus-fade,
.notus-type-toast.notus-fade,
.notus-type-snackbar.notus-fade {
    animation-name: fade-in;
    animation-duration:  .4s;
    animation-timing-function: ease-in-out;
}

/*---------------- Notification Card Styles ----------------*/

.notus {
    position: relative;
    box-sizing: border-box;
    margin: 10px auto;
    pointer-events: all;
}


/**** Material Light ****/
.notus.notus-type-popup.notus-material-light {
    width: 300px;
    min-height: 100px;
    padding: 8px;
    color: #333;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
                0 3px 1px -2px rgba(0,0,0,.2),
                0 1px 5px 0 rgba(0,0,0,.12);

    border-radius: 2px;
}

.notus.notus-type-popup.notus-material-light .notus-content {
    max-width: 95%;
}

.notus.notus-type-popup.notus-material-light .notus-content .notus-content-title {
    font-size: 16px;
    font-weight: 700;
}

.notus.notus-type-popup.notus-material-light.notus-alert-success .notus-content .notus-content-title {
    color: #174f2d;
}

.notus.notus-type-popup.notus-material-light.notus-alert-failure .notus-content .notus-content-title {
    color: #390000;
}

.notus.notus-type-popup.notus-material-light.notus-alert-warning .notus-content .notus-content-title {
    color: #1a1800;
}

.notus.notus-type-popup.notus-material-light .notus-content .notus-content-body {
    margin-top: 5px;
    font-size: 12px;
}

.notus.notus-type-popup.notus-material-light.notus-alert-success .notus-content .notus-content-body {
    color: #227744;
}

.notus.notus-type-popup.notus-material-light.notus-alert-failure .notus-content .notus-content-body {
    color: #6C0000;
}

.notus.notus-type-popup.notus-material-light.notus-alert-warning .notus-content .notus-content-body {
    color: #4D4700;
}

.notus.notus-type-popup.notus-material-light .notus-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    padding: 3px 4px;
    cursor: pointer;
}

.notus.notus-type-popup.notus-material-light .notus-close:hover {
    background-color: #EDEDED;
}

.notus.notus-type-popup.notus-material-light .notus-close .icon-close {
    font-size: 1.5em;
    line-height: 10px;
}
